/*

1- DESKTOP - à partir de 1024 px ;
2- TABLET - à partir de 768 px;
3- MOBILE - à parir de 320 px;


GENERAL*/

body{
  font-family: "lato", sans-serif;
}

:root {
  --main-blue: #708084;
  --lightblue-color: #a3d7de;
  --darkgreen-color: #485410;
  --white-color: #fff;
  --black-color: #39312d;
  --darkblack-color: #212529;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

img{
  max-width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}


section{
  padding: 45px 0 80px 0;
}

section .heading{
  text-align: center;
  padding-bottom: 40px;
  margin: auto;
}

section .heading h4 {
  text-transform: uppercase;
  margin-top: 10px;
}

.blue-divider{
  width: 100px;
  height: 2px;
  background: var(--main-blue);
  margin: 0 auto;
}
.white-divider{
  width: 100px;
  height: 2px;
  background: var(--white-color);
  margin: 0 auto;
}

.green-divider{
  width: 100px;
  height: 2px;
  background: var(--darkgreen-color);
  margin: 0 auto;
}

.progress {
  margin-top: 20px;
  }

/* MENU */
.navbar {
    background-color: rgba(112,128,132,0.9);
    font-size: 12px;
    border-bottom: 1px solid var(--white-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: var(--white-color) !important;
    text-align: center;
}
.nav-pills .nav-link.active {
    color:var(--main-blue) !important;
    background-color: var(--white-color)!important;
}

.nav-pills .nav-link:hover {
  color:var(--lightblue-color)!important;
}

.navbar-toggler{
    color:var(--white-color) !important;
    border-style: none;
}

#accordeon .titre {
  display: block;
}
/* ACCORDION
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

 Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover)
.active, .accordion:hover {
  background-color: #ccc;
}

 Style the accordion panel. Note: hidden by default
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
*/

@media (min-width: 1024px) {
  /*ABOUT*/
  #about {
  padding-top:50px;
  padding-bottom: 0px!important;
  min-height: 85vh;
  display: flex;/*
  background-image: url("wallpaper2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
}

  #about-mobile {
    display: none;
}

#about img {
  height: 90%;
  position: absolute;
  bottom: -1px;
}

#about .profile-picture {
  text-align: center;
  margin: 0px auto 0px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-basis: 40%;
}

#about .heading {
  flex-basis: 60%;
}

#about .heading h2{
  color:var(--black-color);
  text-transform: uppercase;
}

#about .heading h4{
  color:var(--darkblack-color);
}

#about .heading h5{
  color:var(--darkblack-color);
  margin-bottom: 0px;
}

#about .button1{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(112, 128, 132);
  border: 1px solid var(--main-blue);
  display: inline-block;
  margin-top: 30px;
  padding: 15px 70px;
  border-radius: 10px;
  transition: all 0.3s ease-in 0s; /*pour animation changement couleur*/
  width:70%;
}

#about .button1:hover{
  color: var(--black-color);
  background-color:transparent;
  border: 1px solid var(--black-color);
  text-decoration: none;
}

#about .rubrique-contact {
  padding: 15px 90px 20px 90px;
  margin-top: 30px;
  background-color: var(--main-blue);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--main-blue);
  border-width: 1px;
  width: 70%;
  border-radius: 2%;
}

#about .rubrique-contact:hover {
  background-color: transparent;
  border-color: var(--darkblack-color);
  border-style: solid;
  border-width: 1px;
  transition: all 0.3s ease-in 0s;
}

#about .rubrique-contact .infos-contact .col-2 a {
  color: var(--white-color);
  text-decoration: underline;
}

#about .rubrique-contact:hover .infos-contact .col-2 a {
  color: var(--black-color);
  text-decoration: underline;
}

#about .rubrique-contact:hover .infos-contact .col-2 a:hover {
  color:var(--black-color);
  text-decoration: none;
}

#about .rubrique-contact:hover .titre-contact {
  color: var(--black-color);
}

#about .rubrique-contact .titre-contact {
  color: var(--white-color);
  text-transform: uppercase;
}

#about .rubrique-contact .infos-contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

#about .rubrique-contact .infos-contact .col-1 {
  width: 20px
}

#about .rubrique-contact .infos-contact .col-1 .fa-phone-square,.fa-linkedin-square {
  margin-top: 10px;
}

#about .rubrique-contact .infos-contact .col-2 {
  min-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: min-content;
}

#about .rubrique-contact .infos-contact .col-2 .contact {
  width: 100%;
  text-align: left;
}

.rubrique-contact .infos-contact .col-2 .tel,.linkedin {
  margin-top: 10px;
}

#about .rubrique-contact i {
  padding-right: 20px;
  color: var(--white-color);
}

#about .rubrique-contact:hover i {
  padding-right: 20px;
  color: var(--black-color);
}
}

@media (max-width: 1023px) {
/*ABOUT MOBILE*/
#about-mobile {
  padding-top:50px;
}

#about {
  display: none;
}

#about-mobile img {
  border-radius: 100%;
  height: 13.5rem;
  width: 15rem;
  border: 1px solid var(--white-color);
}

#about-mobile .profile-picture{
  text-align: center;
  margin: 0 auto 30px auto;
  float: none;
}

#about-mobile .heading {
  padding-bottom: 0px;
}

#about-mobile .heading h2{
  color:var(--darkblack-color);
  text-transform: uppercase;
}

#about-mobile .heading h4{
  color:var(--darkblack-color);
}

#about-mobile .heading h5{
  color:var(--darkblack-color);
}

#about-mobile .button1{
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(112, 128, 132);
  border: 1px solid var(--main-blue);
  display: inline-block;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s; /*pour animation changement couleur*/
}

#about-mobile .button1:hover{
  color: var(--black-color);
  background-color:transparent;
  border: 1px solid var(--black-color);
  text-decoration: none;
}

#about-mobile .button2{
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(112, 128, 132);
  color: var(--white-color);
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 30px;
  border: 1px solid var(--main-blue);
  transition: all 0.3s ease-in 0s; /*pour animation changement couleur*/
}
#about-mobile .button2:hover{
  color: var(--black-color);
  background-color:transparent;
  border: 1px solid var(--black-color);
  text-decoration: none;
  cursor: pointer;
}

#about-mobile .overlay {
  position: fixed;
  left: 0px;
  top:0px;
  background-color: rgba(0,0 ,0 , 0.5);
  width: 100%;
  height: 100%;
  z-index:1;
  display:none;
  }

#about-mobile .popup {
  margin: 16% auto;
  min-width : fit-content;
  max-width : max-content;
  background-color: var(--main-blue);
  padding: 0px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  }

  #about-mobile .rubrique-contact {
  padding: 15px 0px 20px 0px;
  margin-top: 30px;
  background-color: var(--main-blue);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  border-color: var(--main-blue);
  border-width: 1px;
  width: 100%;
  border-radius: 5px;
}

#about-mobile .btnClose {
  float: right;
  font-size:16pt;
  cursor: pointer;
  color: var(--white-color);
  }


#about-mobile .rubrique-contact .infos-contact .col-2 a {
  color: var(--white-color);
  text-decoration: underline;
}

#about-mobile .rubrique-contact:hover .infos-contact .col-2 a {
  text-decoration: underline;
}

#about-mobile .rubrique-contact:hover .infos-contact .col-2 a:hover {
  text-decoration: none;
}

#about-mobile .rubrique-contact .titre-contact {
  color: var(--white-color);
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}

#about-mobile .rubrique-contact .infos-contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
  border-top-style: solid;
  border-top-color: var(--white-color);
  border-top-width: 1px;
  padding-top:20px;
}

#about-mobile .rubrique-contact .infos-contact .col-1 {
  width: 20px
}

#about-mobile .rubrique-contact .infos-contact .col-1 .fa-phone-square,.fa-linkedin-square {
  margin-top: 10px;
}

#about-mobile .rubrique-contact .infos-contact .col-2 {
  min-width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: min-content;
}

#about-mobile .rubrique-contact .infos-contact .col-2 .contact {
  width: 100%;
  text-align: left;
}

#about-mobile .rubrique-contact .infos-contact .col-2 .tel,.linkedin {
  margin-top: 10px;
}

#about-mobile .rubrique-contact i {
  padding-right: 20px;
  color: var(--white-color);
}
}

/*SKILLS*/
#skills{
  background: var(--main-blue);

}
#skills ul {
  list-style: initial!important;
}
#skills ul li {
  font-size: 0.9rem;
  margin-bottom: 0.35rem;
}
#skills .card-body p {
  font-size: 0.9rem;
  margin-bottom: 0.35rem;
}
#skills .heading h4 {
  color: var(--white-color);
  text-shadow: 0.5px 0.5px 0.5px rgb(51,51,51,0.77);
}

#skills .accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    color: var(--darkblack-color);
}

#skills .accordion .card-header:hover {
  background-color: var(--white-color);
  cursor: pointer;
}
#skills .accordion .card-header[aria-expanded="true"] {
  background-color: var(--white-color)!important;
}

#skills .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}
#skills .progress {
  height: 1.7rem;
  margin: 30px 20px;
  background: #ddd;
}
#skills .progress-bar {
  background: var(--darkblack-color);
}
#skills .progress h5{
  text-shadow: 1px 1px 1px #000;
  font-size: 0.7rem;
  margin: auto auto;
}

/*EXPERIENCE*/

#experience {
  background: var(--white-color);
}

#experience .heading h4 {
  color:var(--main-blue);
  text-shadow: 0.15px 0.15px 0.15px rgb(51,51,51,0.77);
}

#experience .p-h5 {
  font-size: 1 rem;
  font-weight: bold;
  margin-bottom: 0.6rem!important;
}


/*
.timeline-body ul {
  list-style: circle;
}*/

.timeline:before { /* avant l'elmt timeline fais moi ça*/
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background-color: var(--darkblack-color);
  left: 50%;
  margin-left: -2.5px;
}

.timeline-body p {
   text-align: justify;
   font-size: 0.9rem;
   margin-bottom: 0.35rem;

  }

.timeline-body p i {
  font-size: 0.4rem;
  display: inline;
  font-weight: 600;
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

.timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4 {
  color: var(--main-blue);
  font-size: 1rem;
}

@media (min-width: 768px) {
  .timeline {
  padding: 30px 10px!important;
  position: relative;
}
.timeline > li { /* le > veut dire que .timeline = le direct parent de l'élemt indiqué */
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:after {
  clear: both; /* pour nettoyer les float left et right */
}
 .timeline li .timeline-badge  {
  color:var(--main-blue);
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
} 
.timeline-panel {
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  background-color: var(--white-color);
}
.timeline-panel-container {
  width: 50%;
  float: left;
}

.timeline-panel-container-inverted {
  width: 50%;
  float: right;
}
.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 40px;
}
.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--white-color);
  border-right: 0 solid var(--white-color);
  border-bottom: 14px solid transparent;
  content: " "; /* pour que l'elmt after apparaisse à l'écran, on a besoin de lui
  donner un contenu */
}
}

@media (max-width: 767px) {
  .timeline {
    padding: 30px 10px!important;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.timeline-panel {
  width: 95%;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  background-color: var(--white-color);
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.timeline li .timeline-badge {
  color: var(--main-blue);
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: #ddd;
  border-radius: 50%;
  align-self: center;
  margin-bottom: -17px;
  z-index: 2;
}
.timeline-panel-container {
  width: 100%;
  float: none;
  display: flex;
  justify-content: center;
}
.timeline-panel-container-inverted {
  width: 100%;
  float: right;
  float: none;
  display: flex;
  justify-content: center;
}

  .timeline-panel:after {
    position: absolute;
    top: -15px;
    right: 47%;
    display: inline-block;
    border-top: 0px solid var(--main-blue);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid var(--main-blue);
    /*content: " ";*/
  }
}
/* FORMATION */

#formation {
  background: var(--main-blue);
}

#formation .heading h4 {
  color: var(--white-color);
  text-shadow: 0.5px 0.5px 0.5px rgb(51,51,51,0.77);

}

/*
.col-md-6 {
  width: 372px;
}*/

.formation-block {
  /*width: 80%;*/
  width: 100%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: var(--white-color);
  border-radius: 10px;
  border: 2px solid var(--white-color);
  margin-bottom: 20px;
}

.formation-block h5 {
  color: #888;
  font-size: 1rem;
  margin-bottom: 15px;
}

.formation-block .fas {
  font-size: 30px;
}

.formation-block h4 {
  color: var(--darkblack-color);
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.formation-block p {
  margin-bottom: 0.5rem;
}

.formation-block .blue-divider {
  margin-bottom: 20px;
}

/*PORTFOLIO*/
#portfolio {
  background: var(--white-color);
  padding: 45px 0 0 0;
}
#portfolio p {
  margin: 0 auto;
  width: 90%;
}
#portfolio #texte {
  margin-bottom: 5rem;
}
#portfolio .heading h4 {
  color: var(--main-blue);
  text-shadow: 0.5px 0.5px 0.5px rgb(51,51,51,0.77);

}

#portfolio .container h4 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom:  1rem;
  font-size: 1.2rem;
}

#portfolio .col-sm-6 {
  margin-bottom: 2rem;
}

#portfolio .thumbnail img {
  width: 90%;
  height: 320px;
  display: block;
  margin: auto;
  filter: greyscale(100%);
  -webkit-filter: grayscale(100%);
}
#portfolio .thumbnail .img-thumbnail {

}

#portfolio .thumbnail img:hover {
  filter: none;
  -webkit-filter: none;
}

/*Recommandations*/
/*#recommandations {
  background: var(--white-color);
}

#recommandations h2 {
  color: var(--darkgreen-color);
  text-shadow: 0.5px 0.5px 0.5px rgb(51,51,51,0.77);
}

#recommandations {
  background: #F8E89A;
}
#recommandations h2 {
  color: var(--white-color);
  text-shadow: 0.5px 0.5px 0.5px rgb(51,51,51,0.77);

}

.carousel-control-prev {
  background-image:none;
  color: var(--darkgreen-color);
}

.carousel-control-next {
  background-image:none;
  color: var(--darkgreen-color);
}
.carousel-indicators {
bottom: -40px;
}
.carousel-indicators li {
  width: 14px;
  height: 14px;
  margin: 5px;
  text-indent: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--darkgreen-color);

}
.carousel-indicators li.active {
  background-color: var(--darkgreen-color);
}

#myCarousel .carousel-item {
  padding: 40px 30px;
}

#myCarousel .carousel-item h3 {
  color: var(--darkgreen-color);
  font-style: italic;
}
*/

/* FOOTER */
footer {
  background: #333;
  padding: 20px 0 40px;
}
footer .fas {
  font-size: 25px;
  color: var(--white-color);
  height: 30px;
}
footer .fas:hover {
  font-size: 27px;
  color: var(--lightblue-color);
}
footer h5 {
  color: var(--white-color);
  font-weight: normal;
  margin: 20px auto;
}
